body {
    margin: 0;
    padding: 0;
    background: black;
    font: 18px Oswald, sans-serif;
    font-weight: 400;
    color: white;
}

.footer {
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__logo {
    font-size: 2em;
}

.footer__logo_blue {
    color: #66c8f2;
}

.footer__info {

    flex-basis: 30%;
}

.social {
    flex-basis: 15%;
}

.footer__info-title {
    margin-bottom: 10px;
    text-align: center;
}

.footer__info-text {
    text-align: center;
}

.footer__social-item, .footer__social-item img {
    width: 25px;
    height: 25px;
}

.footer__social-item {
    display: inline-block;
    margin-right: 10px;
}

.footer__social-item img {
    opacity: 0.8
}

.footer__social-item img:hover {
    opacity: 1;
}

.footer__logo {
    flex-basis: 20%;
}

@media (max-device-width: 970px) {

    .footer__info, .footer__logo {
        flex-basis: 45%;
        text-align: center;
    }
}

@media (max-device-width: 429px) {

    .footer {
        flex-direction: column;
    }

    .footer-info {
        margin: 20px 0;
    }
}