nav {
    background-color: #A74DFF;
}

nav ul {
    padding: 0 100px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    line-height: 36px;
    padding: 10px 0 12px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    vertical-align: middle;
    padding: 9px 15px 8px;
}


nav ul li:last-child {
    margin-left: 1032px;
}


nav ul li:hover {
    background-color: #EFEEEF;
}

nav ul li:hover a{
    color: #A5A2A5;
}

