table {
    border-spacing: 0;
}

td {
    border-bottom: 1px solid #DFDFDF;
    padding: 10px 25px;
    font-size: 30px;
}

tr:nth-child(2n) {
    background-color: #E9F2FA; /*синий*/
}

td:nth-child(2n+1) {
    background-color: #F6F6E9; /*желтый*/
}

tr:nth-child(2n+1) td:first-child  {
    background-color: #FFF;
}
td:first-child {
    background-color: #E9F2FA;
}
