ul li {
    list-style-type: none;
    display: inline;
    padding: 5px 10px;
}

ul li a {
    text-decoration: none;
    color: #CE84E1;
    font-family: sans-serif;
    line-height: 30px;
    font-size: 10px;
}

li.number {
    padding: 5px 0;
}

a.number_link {
    border: 1px solid #E9E9E9;
    border-radius: 5px ;
    padding: 5px 8px;
}

li.point {
    color: #CE84E1;
    padding: 0 10px;
    vertical-align: bottom;
}