.news {
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 1500px;
    justify-content: space-between;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
}

.news__title-page {
    text-align: center;
    font-size: 1.5em;
}

.col {
    width: 33%;
}

.news__itam {
    margin: 2em 1em;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.17);
}

.news__img {
    width: 100%;
}

.news__dascription {
    padding: 0 1em;
}

.news__header {
    text-align: center;
}

.news__text {
    color: #666;
}

.news__itam a {
    display: inline-block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background: #3074b9;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

.news__itam a:hover {
    background: #3b91e3;
}

.news__info {
    padding: 1em;
    border-top: 1px solid lightgray;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.17);
}

.news__date-of-publication {
    font-weight: bold;
}

@media (max-device-width: 850px) {
    .news {
        width: 100%;
    }
    .col {
        width: 100%;
    }
}

