label {
    text-decoration: underline;
    margin: 20px;
}

label[for="red"] {
    color: red;
}

label[for="green"] {
    color: green;
}

label[for="blue"] {
    color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

span {
    color: white;
    border-radius: 5px;
    padding: 2px 5px 2px;
}

input {
    display: none;
}

input[id="red"]:checked ~ .red,
input[id="green"]:checked ~ .green,
input[id="blue"]:checked ~ .blue {
    display: none;
}

input[id="red"]:checked ~ label[for="red"],
input[id="green"]:checked ~ label[for="green"],
input[id="blue"]:checked ~ label[for="blue"] {

    opacity: 0.5;
}
