/************************************************************************FORM*/
body {
    font: 18px Oswald, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

.contact-form {
    margin: 5em auto;
    width: 35%;
    padding: 1em 2em;
    color: white;
    font-size: 1.5em;
}

.contact-form_border {
    border: 1px solid white;
}

.contact-form__label {
    display: block;
    padding: 0.5em 0;
}

.contact-form__label_required {
    position: relative;
}

.contact-form__label_required:after {
    position: absolute;
    margin-left: 0.3em;
    font-size: 1rem;
    content: '\2731';
    color: red;
}

.contact-form__input {
    display: block;
    color: white;

}

.contact-form__input-field_phone:before {
    position: absolute;
    top: 60%;
    left: 94%;
    content: '\260E';
}
.contact-form__input-field_email:before {
    position: absolute;
    top: 60%;
    left: 94%;
    content: '\2709';
}

.trans {
    position: relative;
    border-bottom: 1px solid white;
    transition: 0.5s linear ;
    margin: 0.5em 0;
}

.contact-form__input-field {

    display: inline-block;
    box-sizing: border-box;
    width: 93%;
    border: none;
    outline: none;
    background: black;
    padding: 0.5em;
    font-size: 1em;
}

.contact-form__input-field:after {
    content: 'efwe';
}

.trans:hover {
    border-bottom: 1px solid #3074b9;
}

.contact-form__button {
    margin: 2em auto;
    text-transform: uppercase;
    width: 40%;
    background: #3074b9;
    border: none;
    color: white;
    padding: 0.5em;
    font-weight: 600;
    font: 1rem serif;
    transition: 0.5s linear ;
}

.contact-form__button:hover {
    background: #3b91e3;
}
/************************************************************************HEADER*/
.header {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: padding-box;
}

.header__logo {
    font-size: 2em;
}

.header__logo_blue {
    color: #66c8f2;
}

.header__menu {
    display: flex;
}

.menu__link {
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    /*transition: 0.3s linear;*/
}

.menu__link:hover, .menu__link:focus  {
    padding: 0 1em;
}

.header__input, .header__icon {
    display: none;
}

.header__input:checked + .header__menu {
    display: block;
}

@media (max-device-width: 970px) {
    .header {
        flex-direction: column;
    }
}

@media (max-device-width: 795px) {
    .header__menu {
        display: block;
    }

    .menu__link {
        float: left;
        width: 27%;
        text-align: center;
    }
}

@media (max-device-width: 667px) {
    .menu__link {
        float: left;
        width: 40%;
        text-align: center;
    }
}

@media (max-device-width: 429px) {

    .header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu {
        display: none;
        width: 50%;
    }

    .menu__link {
        width: 100%;
        padding: 0.5em 0;
    }

    .header__icon {
        display: block;
        position: absolute;
        right: 0;
        background-image: url("./../../image/icon-menu-link.jpg");
        background-size: cover;
        width: 30px;
        height: 30px;
        background-color: white;
    }

    .header__input:checked ~ .header__menu {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 100%;
        background: black;
    }
}


/************************************************************************FOOTER*/
.footer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__logo {
    font-size: 2em;
}

.footer__logo_blue {
    color: #66c8f2;
}

.footer__info {

    flex-basis: 30%;
}

.social {
    flex-basis: 15%;
}

.footer__info-title {
    text-align: center;
    margin-bottom: 10px;
}

.footer__info-text {
    text-align: center;
}

.footer__social-item, .footer__social-item img {
    width: 25px;
    height: 25px;
}

.footer__social-item {
    display: inline-block;
    margin-right: 10px;
}

.footer__social-item img {
    opacity: 0.8
}

.footer__social-item img:hover {
    opacity: 1;
}

.footer__logo {
    flex-basis: 20%;
}

@media (max-device-width: 970px) {

    .footer__info, .footer__logo {
        flex-basis: 45%;
        text-align: center;
    }
}

@media (max-device-width: 429px) {

    .footer {
        flex-direction: column;
    }

    .footer-info {
        margin: 20px 0;
    }
}