body {
    background: black;
}

.contact-form {
    margin: 0 auto;
    width: 35%;
    min-width: 200px;
    padding: 1em 2em;
    color: white;
    font-size: 1.5em;
    border: 1px solid white;
}

.contact-form__item {
    position: relative;
    border-bottom: 1px solid white;
    transition: 0.5s linear;
    margin: 0.5em 0;
}

.contact-form__item:hover {
    border-bottom: 1px solid blue;
}

.contact-form__label {
    display: block;
    padding: 0.5em 0;
}

.contact-form__label_required {
    position: relative;
}

.contact-form__label_required:after {
    position: absolute;
    margin-left: 0.3em;
    font-size: 1rem;
    content: '\2731';
    color: red;
}

.contact-form__input {
    display: inline-block;
    box-sizing: border-box;
    width: 86%;
    border: none;
    outline: none;
    background: black;
    padding: 0.3em;
    font-size: 1em;
    color: white;
}

.contact-form__input_icon-phone:before {
    position: absolute;
    top: 60%;
    right: 0;
    content: '\260E';
}

.contact-form__input_icon-email:before {
    position: absolute;
    top: 60%;
    right: 0;
    content: '\2709';
}

.contact-form__button {
    display: block;
    margin: 2em auto;
    text-transform: uppercase;
    width: 40%;
    min-width: 6.87em;
    background: #3074b9;
    border: none;
    color: white;
    padding: 0.5em;
    font-weight: 600;
    font: 1rem serif;
    transition: 0.5s linear;
}

.contact-form__button:hover {
    background: #3b91e3;
}
