* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.menu {
    text-align: center ;
    margin: 40px auto 0;
}

.menu>nav>ul>li {

    list-style-type: none;
    display: inline-block;
    color: #5B228F;
}
.menu>nav>ul>li>a {
    display: inline-block;
    color: #5B228F;
    font-weight: bold;
    font-size: 13px;
    padding: 24px 16px;
    text-decoration: none;
}


.menu>nav>ul>li>a:hover {
    border-bottom: 1px solid #3171A5;
}

.menu>nav>ul>li>a:focus {
    font-size: 11px;
    color: red;
    border-bottom: 1px solid #3171A5;
}

.menu>nav>ul>li>a:active {
    font-size: 11px;
    color: red;
    border-bottom: 1px solid #3171A5;
}

.menu>nav {
    display: inline-block;
    margin-left: 140px;
}

.bg {
    background-image: url("title-back.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    height: 585px;
}

.bg-content {
    text-align: center;
    margin: auto;
    color: white;
}

.bg-content p {
    font-style: italic;
    font-family: Calibri;
    padding-bottom: 50px;
    font-size: 20px;
    margin: 0;
}

.bg-content h1 {
    font-weight: normal;
    font-size: 48px;
    padding: 140px 0 20px;
}

.bg-content h1>span {
    font-size: 35px;
}

.bg-content a {
    padding: 16px 62px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}
