* {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background: #EE8129;
    width: 296px;
    border-bottom: 1px solid #EE8129;
    border-radius: 3px;
    box-shadow: 0 0 5px 2px #D6E7EF;
    padding-bottom: 2px;
}

.container > p{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0 22px;
}

.con {
    background: white;
    width: 288px;
    margin: auto;
    border-bottom: 1px solid #EE8129;
    padding-bottom: 30px;
}

.con > p {
    color: #35495A;
    font-size: 23px;
    text-align: center;
    padding: 15px 0 0;
}

span {
    display: inline-block;
}

span:nth-child(1) {
    font-size: 22px;
    vertical-align: top;
    line-height: 40px;
}

span:nth-child(2) {
    font-size: 74px;
    font-weight: bold;
}

span:nth-child(3) {
    font-size: 18px;
    vertical-align: bottom;
    position: relative;
    left: -10px;
}

ul {
    list-style-type: none;
    width: 90%;
    margin: auto;
    padding: 16px 0 20px;
}

ul > li:before {
    padding: 0 15px;
    content: url("arrow.png");
}

ul > li {
    margin: 1px 0;
    padding: 7px 20px;
    color: #888C94;
}

ul > li:nth-child(odd) {
    background: #EDF5FD;
}

ul > li:nth-child(even) {
    background: #F5F5F6;
}

.button {
    background: #EE8129;
    width: 250px;
    height: 40px;
    margin: auto;
    border-bottom: 2px solid #b45503;
    border-radius: 5px;
}

.button a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}