table, td, th {
    border: 1px solid;
    text-align: center;
}

td {
    background-color: green;
    color: white;
}

span {
    color: red;
}

h1 {

    text-align: right;
}

h1, p + h2 {
    color: orange;
}

h2 {
    color: blue;
}

p i {
    color: white;
    background-color: green;
}

ul > li {
    font-weight: bold;
}

ul > li > ol {
    color: red;
}

.fruit_1 {
    color: gray;
}

.fruit_2 {
    color: green;
}

.name {
    color: orange;
    text-align: left;
    background-color: white;
}