.arrow {
    border-top: 1px solid;
    border-right: 1px solid;

}
.mail {
    border-bottom: 1px solid;
    text-decoration: none;
}
.link {
    text-decoration: none;
}

a[href*="google"] {
    color: #666;
}

a[href*="yandex"] {
    color: #f70;
}