.goods {
    margin: 0 auto;
    width: 80%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goods__photo-block, .goods__content {
    flex-basis: 50%;
}

.goods__photo {
    max-width: 100%;
}

.goods__content {
    padding: 4em 0em;
}

.goods__header {
    margin-bottom: 0.2em;
    font-size: 2em;
}

.goods__year {
    color: lightgray;
    font-weight: bold;
    font-size: 1.3em;
}

.goods__text {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.6em;
}

.property__title, .color__black, .color__white {
    display: inline-block;
}
.color__black, .color__white {
    margin: 10px 10px 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.4em;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
}

.color__black {
    background: black;
}

.color__white {
    background: white;
}

.property__item {
    margin: 0.5em 0;
}

.property__title {
    text-transform: uppercase;
    color: #666;
}

.bold {
    margin-left: 0.5em;
    font-weight: bold;
}

.price {
    margin: 1em 0 0.5em;
    font-size: 2em;
    font-weight: bold;
}

.price__up {
    padding: 1em 0;
    font-size: 0.7em;
    line-height: 1.5em;
    vertical-align: top;
    color: #666;
    text-decoration: line-through;
}

.raiting {
    margin: 1em 0 2em;
    font-size: 1.5em;
}

.raiting__value:before {
    margin-right: 0.5rem;
    content: '\2605 \2605 \2605 \2605 \2606';
    color: #666;
}

.batton {
    padding: 0.5em 1em;
    background: #3074b9;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.batton:hover {
    background: #3b91e3;
}

.description {
    width: 100%;
    background: #f5f5f5;
    padding: 2em 0;
}

.description__container, .characteristic {
    margin: 0 auto;
    width: 50%;
    max-width: 1500px;
}

.characteristic__block {
    display: flex;
    width: 35%;
    margin: 0 auto;
    justify-content: space-between;

}








@media (max-width: 840px) {
    .goods {
        flex-direction: column;
    }

    .goods__content {
        padding: 0;
    }
}
