.comments-dg {
    background: black;
    font-family: sans-serif;
    font-size: 14px;
}

.comments-container {
    padding: 80px 0;
    width: 80%;
    margin: auto;
}

.comments-dg h2 {
    color: #2a70a8;
    text-align: center;
    font-size: 40px;
}

.comments-dg span {
    color: #ee8129;
}

.comments-block img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 28px;
}

.comment-left, .comment-right {
    display: inline-block;
    max-width: 47%;
}

.comment-right {
    float: right;
}

.comment-left-text, .comment-right-text {
    background: white;
    color: black;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    vertical-align: top;
    width: 64%;
}

.comment-left p, .comment-right p {
    margin-top: 5px;
}

.comment-left p:before, .comment-right p:before  {
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid white;
    position: absolute;
    left: -40px;
    top: 30px;
}

.comments-block h4 {
    font-style: italic;
    color: #7cbaed;
    border-bottom: 2px dotted black;
    margin: 0;
    padding: 10px 0 5px;
}

.comments-block h4 span {
    float: right;
    color: inherit;
}
