/*body {*/
    /*font: 18px Oswald, sans-serif;*/
    /*font-weight: 400;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*background: black;*/
    /*color: white;*/
/*}*/

.header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: padding-box;
}

.header__logo {
    font-size: 2em;
}

.header__logo_blue {
    color: #66c8f2;
}

.header__menu {
    display: flex;
}

.menu__link {
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
}

.menu__link:hover, .menu__link:focus  {
    padding: 0 1em;
}

.header__input, .header__icon {
    display: none;
}

.header__input:checked + .header__menu {
    display: block;
}

@media (max-device-width: 970px) {
    .header {
        flex-direction: column;
    }
}

@media (max-device-width: 795px) {
    .header__menu {
        display: block;
    }

    .menu__link {
        float: left;
        width: 27%;
        text-align: center;
    }
}

@media (max-device-width: 667px) {
    .menu__link {
        float: left;
        width: 40%;
        text-align: center;
    }
}

@media (max-device-width: 429px) {

    .header {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu {
        display: none;
        width: 50%;
    }

    .menu__link {
        width: 100%;
        padding: 0.5em 0;
    }

    .header__icon {
        display: block;
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
        background-image: url("./../../image/icon-menu-link.jpg");
        background-size: cover;
        background-color: white;
    }

    .header__input:checked ~ .header__menu {
        display: block;
        width: 100%;
        position: absolute;
        top: 100%;
        z-index: 1;
        background: black;
    }
}